<title>Jobeet</title>
<subtitle>Latest Jobs</subtitle>
<link href="{{ url('ens_job', {'_format': 'atom'}) }}" rel="self"/>
<link href="{{ url('EnsJobeetBundle_homepage') }}"/>
<updated>{{ lastUpdated }}</updated>
<author><name>Jobeet</name></author>
<id>{{ feedId }}</id>